<div class="row">
  <div class="small-12 column show-tutorial-wrapper">
    <% @tutorial.reviews.each do |review| %>
      <% if review.id %>
        <div class="small-1 column">
          <%= link_to (image_tag("chevron-up.png", class: "upvote")), '#', class: "upvote-img", reviewID: "#{review.id}", path: "#{upvote_path(review)}" %>
          <h6 class="vote-score" id="review-<%= review.id %>"><%= score(review.id) %></h6>
          <%= link_to (image_tag("chevron-down.png", class: "downvote")), '#', class: "downvote-img", reviewID: "#{review.id}", path: "#{downvote_path(review)}" %>
        </div>
        <div class="row review-wrapper">
          <div class="small-11 column">
            <span class="stars-holder" id='review-stars-<%= review.id %>'><%= "#{review.rating}" %></span>
            <div class="small-12 column">
              <div class="review-image">
                <%= image_tag(review.user.profile_photo.url) %> <br>
              </div>
              <p><%= review.user.email %>'s review of <%= @tutorial.title %></p>
              <p><%= review.body %></p>
            </div>
            <% if current_user.try(:admin?) %>
              <div class="delete-review-container small-12 column">
                <%= link_to "Delete Review", tutorial_review_path(@tutorial, review),
                  method: :delete, class: "button tiny" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
