<div class="row longer-row">
  <div class="large-2 columns tutorial-index-wrapper">
    <%= form_tag(tutorials_search_path, method: "get") do %>
      <%= text_field_tag(:search) %>
      <%= submit_tag("Search", class: "button tiny") %>
    <% end %>
  <h2>Sort By:</h2>
      <%= link_to "Newest", newest_path(:newest), class: "button small radius" %>
      <%= link_to "Oldest", oldest_path(:oldest), class: "button small radius" %>
    <h3>Tags</h3>
    <div class="index-tag-overflow">
    <% Tag.all.each do |tag| %>
      <div class="button tiny radius">
        <%= link_to(tag.tag_name, tag_path(tag.tag_name)) %>
      </div>
    <% end %>
   </div>
    <%= link_to "Add a Tutorial", new_tutorial_path, class: "button radius" %>
  </div>
  <div class="large-9 columns tutorial-index-wrapper">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @tutorials.each do |tutorial| %>
        <li class="tutorial-thumbnail-wrapper">
          <%= link_to tutorial do %>
            <div class="tutorial-thumbnail">
              <%= tutorial.title %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= paginate @tutorials %>
  </div>
</div>
