<%#= link_to "Back", tutorials_path, class: "button radius", id:"tutorial-back-button" %>
<div class="row">
  <div class="small-12 column show-tutorial-wrapper">
    <%= link_to "Back", tutorials_path, class: "button radius", id:"tutorial-back-button" %>
    <p>
      <strong>Title:</strong>
      <%= @tutorial.title %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= @tutorial.url %>
    </p>

    <p>
      <strong>Language:</strong>
      <%= @tutorial.language %>
    </p>

    <% unless @tutorial.organization.empty? %>
      <p>
        <strong>Organization:</strong>
        <%= @tutorial.organization %>
      </p>
    <% end %>

    <% unless @tutorial.cost.empty? %>
      <p>
        <strong>Cost:</strong>
        <%= @tutorial.cost %>
      </p>
    <% end %>

    <% unless @tutorial.description.empty? %>
      <p>
        <strong>Description:</strong>
        <%= @tutorial.description %>
      </p>
    <% end %>
  </div>
  <% if User.is_owner?(current_user, @tutorial) %>
    <%= link_to 'Edit Tutorial', edit_tutorial_path(@tutorial), class: "button tiny" %>
  <% end %>
  <% if current_user.try(:admin?) || User.is_owner?(current_user, @tutorial) %>
    <%= link_to "Delete Tutorial", tutorial_path(@tutorial),
     method: :delete, class: "button tiny" %>
  <% end %>
</div>

<div class="row">
  <div class="small-12 column show-tutorial-wrapper">
    <% @tutorial.reviews.each do |review| %>
      <% if review.id %>
        <div class="small-1 column">
          <%= link_to "upvote", '#', class: "upvote-img", reviewID: "#{review.id}", path: "#{upvote_path(review)}" %>
          <h6 class="vote-score" id="<%= review.id %>"><%= score(review.id) %></h6>
          <%= link_to "downvote", '#', class: "downvote-img", reviewID: "#{review.id}", path: "#{downvote_path(review)}" %>
        </div>
        <div class="row review-wrapper">
          <div class="small-11 column">
            <span class="stars-holder" id='<%= "#{review.id}" %>'><%= "#{review.rating}" %></span>
            <p><%= review.body %></p>
          </div>
          <% if current_user.try(:admin?) %>
            <div class="delete-review-container small-12 column">
              <%= link_to "Delete Review", tutorial_review_path(@tutorial, review),
                method: :delete, class: "button tiny" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= form_for([@tutorial, @tutorial.reviews.build]) do |f| %>
        <%= f.label :rating %>
        <%= f.select :rating, %w(1 2 3 4 5), prompt: 'Select' %>
        <%= f.label :body %>
        <%= f.text_area :body %>

        <%= f.submit "Add Review", class: "button" %>
    <% end %>
  </div>
</div>
