<!DOCTYPE html>
<html>
<head>
  <title>CodeReviewSite</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <!--<h1><a href="/">CodeReviewSite</a></h1>-->
        <a href="/"><%= image_tag("logo.png", class: "header-icon")%></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <% if current_user.admin? %>
            <li><%= link_to 'Users List', users_path, class: "account-button" %></li>
          <% end %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "account-button" %></li>
          <li><%= link_to "Update Your Account", edit_user_registration_path, class: "account-button"  %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: "account-button"  %></li>
          <li><%= link_to 'Sign In', new_user_session_path, class: "account-button"  %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <div class="footer-container">
    <div class="text-edit">
      <%= link_to "Ray 'The Hammer' Hamel | ", "https://github.com/rayhamel" %>
      <%= link_to "Josh 'JDog' Fields | ", "https://github.com/joshuafields" %>
      <%= link_to "Craig 'Aggro Crag' Barstow | ", "https://github.com/craigbarstow" %>
      <%= link_to "Fred 'Fredstyle' Chapman", "https://github.com/areinei123" %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
